:root {
  --white: #FFFFFF;
  --gray-100: #F7F3F6;
  --gray-200: #F4E6F0;
  --gray-300: #7A6E76;
  --gray-400: #332E32;

  --green-light: #CDDFCC;
  --green-base: #52A350;
  --green-dark: #2F5C2D;

  --pink-light: #E3B1C2;
  --pink-base: #CE6387;
  --pink-dark: #C93A6B;

  --mat-sys-primary: var(--pink-dark);
  --mat-sys-on-primary: var(--white);
  --mat-sys-primary-container: var(--pink-light);
  --mat-sys-on-primary-container: var(--pink-dark);

  --mat-sys-secondary: var(--pink-base);
  --mat-sys-on-secondary: var(--white);
  --mat-sys-secondary-container: var(--pink-light);
  --mat-sys-on-secondary-container: var(--pink-dark);

  --mat-sys-surface: var(--gray-100);
  --mat-sys-on-surface: var(--gray-400);
}
